<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="layout::head"></head>
<body>

<div id="form">
    <form action="#" th:action="@{/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">

        <div>
            <label>Title</label>
            <input type="text" class="text-input" th:field="*{title}"/>
        </div>

        <br>
        <div>
            <label>content</label>
            <div class="form-group green-border-focus">
                <textarea class="form-control" id="exampleFormControlTextarea5" rows="5" th:field="*{content}"></textarea>
            </div>
        </div>
        <br>
        <input type="submit" value="SAVE BLOG"/>
    </form>
</div>

<div th:replace="layout::footer"></div>
</body>
</html>