<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous">
    <style th:replace="~{css::style}"></style>
</head>
<body>
<div th:fragment="nav">
    <div id="grad1" style="align-items: center"><h1 style="text-align: center;position: relative;
    top: 25px; font-size: xx-large;"> FURAMA RESORT </h1></div>
    <nav class="navbar navbar-expand-lg navbar-dark  w-100"
         style="color: black ;left: 0px; background-color: #e3f2fd;">
        <a class="navbar-brand" th:href="@{/}" style="color: black" th:text="#{manager}"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/customer/customer}" style="color: black" th:text="#{customer}"><span
                            class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/service/service}" style="color: black" th:text="#{service}"><span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/contract/contract}" style="color: black" th:text="#{contract}"><span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/employee/employee}" style="color: black" th:text="#{employee}"><span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>


            <!--            <div class="h-100 d-flex align-items-center mr-3">-->
            <!--                <i class="far fa-comments mr-1" style="font-size: 20px;"></i>-->
            <!--                <span style="font-size: 16px;">Chat</span>-->
            <!--            </div>-->
            <!--            <div class="h-100 d-flex align-items-center mr-3">-->
            <!--                <a style="color: black; text-decoration: none" th:href="@{/posts/profile}">-->
            <!--                    <i class="fas fa-user-circle mr-1" style="font-size: 20px;"></i>-->
            <!--                    <span style="font-size: 16px;">Tôi-->
            <!--                                        bán-->
            <!--                                    </span>-->
            <!--                </a>-->
            <!--            </div>-->

            <div class="d-flex" id="search">
                <div class="input-group search-box">
                    <div class="form-outline">
                        <input type="text" placeholder="title blog" class="search-txt" aria-label="Search"
                               id="name">
                        <button id="search-button" type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="float-right" style="margin-bottom: 15px">
                <a href="/lang?language=en" style="text-decoration: none">
                    <button class="btn btn-primary" style="top: 7px;position: relative;margin-left: 11px;">English
                    </button>
                </a>
                <a href="/lang?language=vi" style="text-decoration: none">
                    <button class="btn btn-primary" style="top: 7px;position: relative;margin-right: 11px">Việt Nam
                    </button>
                </a>
            </div>


            <div class="h-100 d-flex align-items-center mr-3" sec:authorize="isAuthenticated()">
             <span sec:authentication="name"></span>
<!--              [ <span sec:authentication="principal.authorities" style="color: yellow; text-shadow: black">NOT FOUND</span>]-->
            </div>
            <div class="h-100 d-flex align-items-center mr-3" sec:authorize="!isAuthenticated()" st>
                <div class="dropdown" >
                    <div>
                        <!--                                        <i class="fas fa-ellipsis-h mr-1" style="font-size: 25px;"></i>-->
                        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                                style="background-color: #fc9807;">Thêm
                            <span class="caret" style="font-size: 16px; color: white; "></span>
                        </button>
                        <ul *ngIf="!user" class="dropdown-menu "
                            style="background-color: #fc9807; width: 100%;top: 36px;left: -86px;" >
                            <li class="text-center">
                                <i class="fa fa-user-circle mr-1" aria-hidden="true"
                                   style="color: white;"></i>
                                <a th:href="@{/login}"
                                   style="color: black; font-size: 16px;" th:text="#{dangnhap}">

                                </a>
                            </li>
                            <li class="text-center">
                                <i class="fa fa-sign-in mr-1" style="color: white;"
                                   aria-hidden="true"></i>
                                <a th:href="@{/register}"
                                   style="color: black; font-size: 16px;" th:text="#{dangky}">
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </div>
            <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</div>


<div th:fragment="nav-left" class="col-2 bg-light">
    <hr style="background-color: white">
    <a href="#"><p style="text-align: center">Giới thiệu</p></a>
    <hr>
    <p style="text-align: center;">Item 2</p>
    <hr style="background-color: white">
    <p style="text-align: center;">Item 3</p>
</div>


<div th:fragment="xoaModal(andressController)">
    <div class="modal fade" id="xoa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="xoaLabel">Confirm xoá</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có muốn xoá <input type="text" readonly id="test" size="3"/> này không?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" th:onclick="'submitFormDelete()'">DELETE</button>
                </div>
            </div>
        </div>
    </div>
    <form th:action="@{${andressController}}" id="formDelete" th:method="post">
        <input type="hidden" name="idDelete" id="idDelete"/>
    </form>
    <script>


         function setIdDeleteToForm(id) {
             document.getElementById("idDelete").value = id;
             document.getElementById("test").value = id;
             console.log(id)

         }

         function submitFormDelete() {
             document.getElementById("formDelete").submit();

         }

         function rollback() {
             document.getElementById("default").submit();
         }



    </script>

</div>

<div th:fragment="updateModal(andressController)">
    <div class="modal" tabindex="-1" role="dialog" id="update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body">

                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.update-pro').click(function (event) {
                //lay du lieu

                let a = $(this);
                let update = a.data("idUpdate");

                console.log(update)

                // goi ajax
                $.ajax({
                    type: "GET",
                    //tên API
                    url: `${andressController}/${update}`,
                    dataType: "HTML",
                    success: function (data) {
                        $("#modal-body").html(data);
                    }
                });
                //chặn sự kiện mặc định của thẻ
                event.preventDefault();
            })
        })
    </script>

</div>

<div th:fragment="createModal(andressController)">
    <div class="modal" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body-create">

                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.create-pro').click(function (event) {
                $.ajax({
                    type: "GET",
                    //tên API
                    url: `${andressController}`,
                    dataType: "HTML",
                    success: function (data) {
                        $("#modal-body-create").html(data);
                    }
                });
                //chặn sự kiện mặc định của thẻ
                event.preventDefault();
            })
        })
    </script>

</div>


<footer th:fragment="footer">

    <script src=”http://code.jquery.com/jquery-2.0.3.min.js”></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-button').click(function (event) {
                $.ajax({
                    type: "GET",
                    url: "/search/" + $("#name").val(),
                    dataType: "HTML",
                    success: function (data) {
                        $("#searchList").html(data);
                    }
                });
            });

            // $.ajax({
            //     url: 'http://localhost:8080/api/search',
            //     type: 'POST',
            //     dataType: 'json',
            //     contentType: 'application/json',
            //     data: JSON.stringify({
            //         title:  $("#name").val(),
            //     })
            // }).done(function (response) {

            //     console.log(response)
            //     $("#searchList").val(
            //         let a = $(this);
            // let list = a.attr("th:each").val("row,rowStat: ${row,rowStat : ${response}}")

        })
    </script>
</footer>
</body>
</html>