<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="~{layout/header::header}">
<body>
<div th:replace="~{layout/navbar::navbar}"></div>
<div id="form">
    <form action="#" th:action="@{/category/update}" th:object="${object}"
          method="POST" novalidate="novalidate">
        <div>
            <label>Id</label>
            <div class="form-group green-border-focus">
                <input type="text"  readonly class="text-input" th:field="*{id}"/>
            </div>
        </div>
        <div>
            <label>category</label>
            <div class="form-group green-border-focus">
                <input type="text"   class="text-input" th:field="*{name}"/>
            </div>
        </div>
        <input type="submit" value="Save Category"/>
    </form>
</div>

<div th:replace="layout::footer"></div>

<script>

    // $(document).ready( function() {
    //     $('#datePicker').val(new Date().toDateInputValue());
    // });​


</script>
</body>
</html>