<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}"></head>
<style>
    p {
        color: red;
    }
</style>
<body>
<nav th:replace="~{layout::nav}"></nav>
<div style="height: 30px"></div>
<div class="row">
    <div id="form" class="col-7">
        <form th:action="@{/service/update}" th:object="${object}"
              method="POST" novalidate="novalidate" class="form">

            <div class="form-group green-border-focus">
                <input type="hidden" class="form-control" th:field="*{id}"/>
            </div>
            <div>
                <label>code</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{code}"/>
                </div>
                <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
            </div>
            <div>
                <label>name</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>

            <div>
                <label>area</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{area}"/>
                </div>
                <p th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></p>
            </div>
            <div>
                <label>cost</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control"th:field='${object.cost}'/> Male?
                </div>
                <p th:if="${#fields.hasErrors('cost')}" th:errors="*{cost}"></p>
            </div>

            <div>
                <label>maxPeople</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{maxPeople}"/>
                </div>
                <p th:if="${#fields.hasErrors('maxPeople')}" th:errors="*{maxPeople}"></p>
            </div>
            <div>
                <label>standardRoom</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{standardRoom}"/>
                </div>
                <p th:if="${#fields.hasErrors('standardRoom')}" th:errors="*{standardRoom}"></p>
            </div>
            <div>
                <label>descriptionOtherConvenience</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{descriptionOtherConvenience}"/>
                </div>
                <p th:if="${#fields.hasErrors('descriptionOtherConvenience')}" th:errors="*{descriptionOtherConvenience}"></p>
            </div>
            <div>
                <label>poolArea</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{poolArea}"/>
                </div>
                <p th:if="${#fields.hasErrors('poolArea')}" th:errors="*{poolArea}"></p>
            </div>
            <div>
                <label>numberOfFloors</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{numberOfFloors}"/>
                </div>
                <p th:if="${#fields.hasErrors('numberOfFloors')}" th:errors="*{numberOfFloors}"></p>
            </div>
            position
            <select th:field="*{serviceType}">
                <option th:each="c : ${serviceTypes}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
            <p th:if="${#fields.hasErrors('serviceType')}" th:errors="*{serviceType}"></p>
            educationDegree
            <select th:field="*{rentType}">
                <option th:each="c : ${rentTypes}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
            <p th:if="${#fields.hasErrors('rentType')}" th:errors="*{rentType}"></p>

            <input type="submit" class="save-pro btn btn-secondary" id="kich" value="Save Customer"/>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </form>
    </div>
    <div class="col-5"></div>
</div>
</body>
</html>