<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="~{index::nav}"></nav>
<div id="form">
    <form action="#" th:action="@{/category/save}" th:object="${object}"
          method="POST" novalidate="novalidate">
        <div>
            <label>category</label>
            <div class="form-group green-border-focus">
                <input type="text"   class="form-control" th:field="*{name}"/>
            </div>
        </div>
        <input type="submit" value="Save Category"/>
    </form>
</div>

<div th:replace="layout::footer"></div>

<script>

    // $(document).ready( function() {
    //     $('#datePicker').val(new Date().toDateInputValue());
    // });​


</script>
</body>
</html>