<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}"></head>
<style>
    p {
        color: red;
    }
</style>
<body>
<nav th:replace="~{layout::nav}"></nav>
<div style="height: 30px"></div>
<div class="row">
    <div id="form" class="col-7">
        <form th:action="@{/employee/save}" th:object="${object}"
              method="POST" novalidate="novalidate" class="form">
            <div>
                <label>name</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div>
                <label>birthday</label>
                <div class="form-group green-border-focus">
                    <input type="date" class="form-control" th:field="*{birthday}"/>
                </div>
                <p th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
            </div>
            <div>
                <label>idCard</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{idCard}"/>
                </div>
                <p th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></p>
            </div>
            <div>
                <label>salary</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field='${object.salary}'/>
                    <p th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></p>
                </div>

                <div>
                    <label>phone</label>
                    <div class="form-group green-border-focus">
                        <input type="text" class="form-control" th:field="*{phone}"/>
                    </div>
                    <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div>
                <div>
                    <label>email</label>
                    <div class="form-group green-border-focus">
                        <input type="text" class="form-control" th:field="*{email}"/>
                    </div>
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div>
                    <label>address</label>
                    <div class="form-group green-border-focus">
                        <input type="text" class="form-control" th:field="*{address}"/>
                    </div>
                    <p th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
                position
                <select th:field="*{position}">
                    <option th:each="c : ${positions}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></p>
                educationDegree
                <select th:field="*{educationDegree}">
                    <option th:each="c : ${educationDegrees}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('educationDegree')}" th:errors="*{educationDegree}"></p>
                divisions
                <select th:field="*{division}">
                    <option th:each="c : ${divisions}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
                <p th:if="${#fields.hasErrors('division')}" th:errors="*{division}"></p>
                <input type="submit" class="save-pro btn btn-secondary" id="kich" value="Save Employee"/>
            </div>
        </form>
    </div>
    <div class="col-5"></div>
</div>
</body>
</html>