<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout::head"></head>
<body>
<nav th:replace="~{layout::nav}"></nav>
<br><br>
<form class="bg-dark" action="#" th:action="@{/product/update}" th:object="${object}"
      method="POST" novalidate="novalidate">
    <table style="color:white">
        <tr>
            <th> ID</th>
            <td><input type="text" class="text-input" th:field="${object.id}"/></td>
        </tr>
        <br>
        <tr>
            <th> name</th>
            <td><input type="text" class="text-input" th:field="${object.name}"/></td>
        </tr>
        <br>
        <tr>
            <th> price</th>
            <td><input type="text" class="text-input" th:field="${object.price}"/></td>
        </tr>
        <br>
        <tr>
            <th> stock</th>
            <td><input type="text" class="text-input " th:field="${object.stock}"/></td>
        </tr>
        <br>
        <tr>
            <th>Image</th>
            <td><input type="text" class="text-input" th:field="${object.detail.image}"></td>
        </tr>
        <br>
        <tr>
            <th> content</th>
            <td><input type="text" class="text-input" th:field="${object.detail.content}"/></td>
        </tr>
        <br>
        <tr>
            <th> Category</th>
            <td>  <select th:field="${object.category}">
                <option th:each="c : ${categorys}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
            </td>
        </tr>
        <br>
        <tr>
            <th> SUMMIT</th>
            <td><input type="submit" value="Update Product"/></td>
        </tr>
    </table>
</form>
<div th:replace="layout::footer"></div>
</body>
</html>