<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout/header::header}">
<body>
<div th:replace="~{layout/navbar::navbar}"></div>

<form align="center" th:action="@{/blog/save}" th:object="${object}" class="container"
      method="POST" novalidate="novalidate">

    Title :
    <input type="text" class="form-control" th:field="*{title}"/>
    Category:
    <select th:field="*{category}">
        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
    </select> <br>
    Link Image :

    <input type="text" class="form-control" th:field="*{image}"/>

    <label for="form18">Content</label><br>
    <div class="md-form mb-4 pink-textarea active-pink-textarea">
        <textarea id="form18" class="md-textarea form-control" rows="10" th:field="*{content}"></textarea>

    </div>

    <br>
    <input type="submit" value="Create Blog"/>
</form>
<footer th:replace="~{layout/footer :: footer}"></footer>

</body>
</html>