<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head th:replace="layout::head"></head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark w-100" style="left: 0px">
    <a class="navbar-brand" href="#">Trang Blog Cui Bap </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index"> <span style="color: white">Blog</span> </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/category}">Category<span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/customers">
            <button type="button" class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
                    data-target="#exampleModal" data-whatever="@mdo" style="margin-right: 10px">
                <a class="btn btn-warning" th:href="@{/createCategory}">Create new Category</a>
                <a class="btn btn-warning" th:href="@{/create}">Create new Blog</a>
                <a class="btn btn-warning" th:href="@{/sort}">sort</a>
            </button>
        </form>

        <form class="d-flex" th:action="@{/search}">
            <div class="search-box">

                <input type="text" placeholder="name" class="search-txt" aria-label="Search"
                       name="search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </div>
        </form>
    </div>
</nav>

<p th:text="${mess}"></p>
<div align="center">
    <table id="table" class="table table-striped table-bordered bg-dark text-white">
        <thead>
        <tr>
            <th>Blog Id</th>
            <th>Blog Title</th>
            <th>Day Create</th>
            <th>Category</th>
            <th>view</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row,rowStat : ${blogs}">
            <td th:text="${row.getId()}"></td>
            <td th:text="${row.getTitle()}"></td>
            <td th:text="${row.getDateBlog()}"></td>
            <td th:text="${row.getCategory().getName()}"></td>
            <td><a class="btn btn-success" th:href="@{/view/__${row.getId()}__ }">View</a></td>
            <td><a class="btn btn-warning" th:href="@{/edit/__${row.getId()}__ }">Edit</a></td>
            <td><a href="#" data-toggle="modal" data-target="#xoa" class="btn btn-danger"
                   th:onclick="'setIdDeleteToForm(\'' + ${row.getId()} + '\');'"> Xóa bằng Model</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div>

    <button type="button" class="btn btn-info" th:if="${blogs.hasPrevious()}"> <a th:href="@{'/'(page=${blogs.number - 1})}"  class="btn btn-warning">Previous</a></button>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <button type="button" class="btn btn-info" th:if="${blogs.hasNext()}">  <a th:href="@{'/'(page=${blogs.number + 1})}"  class="btn btn-warning">Next</a></button>



</div>

<div class="modal fade" id="xoa" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xoaLabel">Confirm xoá</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá Blog <input type="text" readonly  id="test" size="3"/> này không?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" th:onclick="'submitFormDelete()'">DELETE</button>
            </div>
        </div>
    </div>
</div>

<form th:action="@{/delete}" id="formDelete" th:method="post">
    <input type="hidden" name="idDelete" id="idDelete"/>
</form>


<form th:action="@{/index}" id="default">
    <input type="hidden" name="action" value="default"/>
</form>


<div th:replace="layout::footer"></div>

<script>


    function setIdDeleteToForm(id) {
        document.getElementById("idDelete").value = id;
        document.getElementById("test").value = id;

    }
    function submitFormDelete() {
        document.getElementById("formDelete").submit();

    }

    function rollback() {
        document.getElementById("default").submit();
    }
</script>
</body>
</html>