<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}"></head>
<style>
    p {
        color: red;
    }
</style>
<body>
<nav th:replace="~{layout::nav}"></nav>
<div style="height: 30px"></div>
<div class="row">
    <div id="form" class="col-7">
        <form th:action="@{/contractDetail/save}" th:object="${object}"
              method="POST" novalidate="novalidate" class="form">
            <div>
                <label>quatity</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{quatity}"/>
                </div>
                <p th:if="${#fields.hasErrors('quatity')}" th:errors="*{quatity}"></p>
            </div>
            <div>
                contract
                <select th:field="*{contract}">
                    <option th:each="c : ${contracts}" th:value="${c.id}" th:text="${c.customer.name}"></option>
                </select>
            </div>

            <div>
                attachService
                <select th:field="*{attachService}">
                    <option th:each="c : ${attachServices}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </div>

            <input type="submit" class="save-pro btn btn-secondary" id="kich" value="Save contract Detail"/>

        </form>
    </div>
    <div class="col-5"></div>
</div>
</body>
</html>