<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::header}"></head>
<style>
    p {
        color: red;
    }
</style>
<body>
<nav th:replace="~{layout::nav}"></nav>
<div style="height: 30px"></div>
<div class="row">
    <div id="form" class="col-7">
        <form th:action="@{/contract/update}" th:object="${object}"
              method="POST" novalidate="novalidate" class="form">

            <div class="form-group green-border-focus">
                <input type="hidden"  class="form-control" th:field="*{id}"/>
            </div>

            <div>
                Customer:
                <select th:field="*{customer}">
                    <option th:each="c : ${customers}" th:value="${c.id}"  th:selected="${c.id == object.customer.id}">
                        <span th:text="${c.name}" ></span> [ <span th:text="${c.code}" ></span>] <span th:text="${c.customerType.name}" ></span>
                    </option>
                </select>
            </div>
            <div>
                <label>startDate</label>
                <div class="form-group green-border-focus">
                    <input type="date" class="form-control" th:field="*{startDate}"/>
                </div>
                <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></p>
            </div>
            <div>
                <label>endDate</label>
                <div class="form-group green-border-focus">
                    <input type="date" class="form-control" th:field="*{endDate}"/>
                </div>
                <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></p>
            </div>
            <div>
                <label>deposit</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control"th:field='${object.deposit}'/>
                </div>
                <p th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}"></p>
            </div>
            <div>
                Service:
                <select th:field="*{entityService}">
                    <option th:each="c : ${entityServices}" th:value="${c.id}" th:text="${c.code}" th:selected="${object.entityService.id == c.id}"></option>
                </select>
            </div>

            <div>
                <label>totalMoney</label>
                <div class="form-group green-border-focus">
                    <input type="text" class="form-control" th:field="*{totalMoney}"/>
                </div>
                <p th:if="${#fields.hasErrors('totalMoney')}" th:errors="*{totalMoney}"></p>
            </div>
            <input type="submit" class="save-pro btn btn-secondary"  value="Save Customer"/>

        </form>
    </div>
    <div class="col-5"></div>
</div>
</body>
</html>